services:
  backend:
    build: ./backend
    ports:
      - 8080:8080
    networks:
      - app-network
  frontend:
    build: ./frontend
    ports:
      - 5173:80
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
