@reference "../../index.css";

.summary-container {
  @apply max-w-xl mx-auto space-y-6 rounded-lg border border-gray-400 p-8 mt-8 justify-center;
}

.summary-title {
  @apply text-lg font-semibold text-gray-900;
}

.summary-section {
  @apply mb-6;
}

.summary-list {
  @apply grid gap-1;
}

.summary-item {
  @apply grid grid-cols-2 items-center;
}

.summary-item dt {
  @apply tracking-wide text-gray-700 text-xs font-bold;
}

.summary-item dd {
  @apply font-semibold text-gray-900;
}

.edit-button {
  @apply w-full py-2 border border-gray-200 rounded-lg text-sm font-medium text-gray-700 hover:bg-gray-50 cursor-pointer transition-colors duration-200;
}

.edit-button:hover {
  @apply bg-gray-50;
}